.main-chat
  .main-chat-top
    .main-chat-top-left
      .main-chat-top-left-name
        = @group.name
        .main-chat-top-left-name-li
          Member:
          - @group.users.each do |user|
            = user.name
    .main-chat-top-right
      .main-chat-top-right-edit
        = link_to edit_group_path(@group), class: "Edit" do
          Edit
  .main-chat-messages
    = render @messages
    .message
      .upper-message
        .upper-message__user-name
        .upper-message__date
        .lower-message
  = form_for [@group, @message] do |f|
    .form
      .top
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'submit'